.container{
  width:80%;
  background-color: #D3D3D3;
  margin:auto;
  margin-top: 5%;

}
.block--sec1{
  text-align: center;
  font-family: arial sans-serif;
  font-size: 2em;

}

.block__imageblock{
  height: 1200px;
  width:85%;
  background-color: #f6f6f6;
  margin: auto;
}
.block__imageblock p{
  font-size: 0.4em;
}
.block--sec1 h1{
  padding-top: 50px;
  height: 30px;
}
.block--sec1 h3{
  height: 15px;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
}

.block__imageblock{
  height:90%;
  width: 100%;
}
.block__imageblock img{
  height:90%;
  width: 80%;
}

.block__timeline{
  margin-left: 25%;
  margin-right: 25%;

}
.block__timeline p{
  list-style:disc outside none;
  display:list-item;
}
a{
  text-decoration: none;
  cursor: auto;
}
.footer{
  text-align: center;
}
/*
@media only screen and (max-width: 700px) {
    .block {
        size:80%
      }
    .block__imageblock {
      height:60%;
    }

}
@media only screen and (max-width: 500px) {
    .block {
        size:50%;
      }
    .block__imageblock {
      height:60%;
    }

}
*/
